
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
